<body>
  <link rel="stylesheet" href="home.component.css">
<div class="background">
<h1>
  <h1>THE FINEST HOTEL AT THE BEST PRICE</h1>
  ENJOY YOUR STAY
</h1>
<h1>BOOK NOW AND GET BENIFITS</h1>
<h3>NO.1 DOWNTOWN HOTEL</h3>
<h2>please register/login to book</h2>


    <img   src="./assets/bedimg.png" height="400" width="370" >
    <img   src="./assets/img15.jpg" height="400" width="500" >
    <img   src="./assets/img14.jpg" height="400" width="410" >
  
</div>
</body>
<!--<footer class="footer">
  <div class="container">
    <span>All Right Reserved 2023@Copyrights</span>
  </div>
</footer>-->
